<ion-content class="background" >
    <ion-grid>
        <ng-template ngFor let-row [ngForOf]="setup">
            <ion-row>
                <ion-col>
                    <div class="card-title">{{ row.name }}</div>
                </ion-col>
            </ion-row>

            <ng-template ngFor let-entityrow [ngForOf]="row.entities">
                <ion-row class="forecast_container" *ngIf="!loading && this.entities">
                    <ion-col>
                        <div class="homekit-card">

                            <ng-template ngFor let-entity [ngForOf]="entityrow">
                                <ng-template [ngIf]="(this.entities[entity.entity] && this.entities[entity.entity].state != 'unavailable') || entity.type == 'blinds'">
                                    <ng-template [ngIf]="entity.type == 'light'">

                                        <!-- Light -->

                                        <ng-template [ngIf]="entity.brightness">
                                            <div class="button" [class.on]="this.entities[entity.entity].state == 'on'" (tap)="toggle(entity.entity)" (press)="hold(entity)">
                                                <span class="name" [class.on]="this.entities[entity.entity].state == 'on'">{{ entity.name }}</span>
                                                <span class="state" [class.on]="this.entities[entity.entity].state == 'on'">{{ this.entities[entity.entity].state }}</span>
                                                <span class="value" [class.on]="this.entities[entity.entity].state == 'on'"><span *ngIf="this.entities[entity.entity].attributes.brightness">{{ math.round(this.entities[entity.entity].attributes.brightness / 2.55) }}%</span></span>
                                                <span class="icon" [class.on]="this.entities[entity.entity].state == 'on'" [ngStyle]="{'color':entity.color ? entity.color : '' }">
                                                    <span *ngIf="entity.icon" class="mdi mdi-{{ entity.icon }}"></span>
                                                </span>
                                            </div>
                                        </ng-template>
                                        <ng-template [ngIf]="!entity.brightness">
                                            <div class="button" [class.on]="this.entities[entity.entity].state == 'on'" (tap)="toggle(entity.entity)">
                                                <span class="name" [class.on]="this.entities[entity.entity].state == 'on'">{{ entity.name }}</span>
                                                <span class="state" [class.on]="this.entities[entity.entity].state == 'on'">{{ this.entities[entity.entity].state }}</span>
                                                <span class="value" [class.on]="this.entities[entity.entity].state == 'on'"></span>
                                                <span class="icon" [class.on]="this.entities[entity.entity].state == 'on'" [ngStyle]="{'color':entity.color ? entity.color : '' }">
                                                    <span *ngIf="entity.icon" class="mdi mdi-{{ entity.icon }}"></span>
                                                </span>
                                            </div>
                                        </ng-template>

                                    </ng-template>

                                    <ng-template [ngIf]="entity.type == 'sensor'">

                                        <!-- Sensor -->
                                        <div class=" button on">
                                            <span class="name on">{{ entity.name }}</span>
                                            <span class="state on">{{ this.entities[entity.entity].state }}<span *ngIf="this.entities[entity.entity].attributes.unit_of_measurement">{{ this.entities[entity.entity].attributes.unit_of_measurement }}</span></span>
                                            <span class="icon on" [ngStyle]="{'color':entity.color ? entity.color : 'black' }">
                                                <span *ngIf="entity.icon" class="mdi mdi-{{ entity.icon }}"></span>
                                            </span>
                                        </div>

                                    </ng-template>

                                    <ng-template [ngIf]="entity.type == 'blinds'">

                                        <!-- Sensor -->
                                        <div class="button on" (press)="hold(entity)">
                                            <span class="name on">{{ entity.name }}</span>
                                            <span class="state on">{{ entity.states[blindState(entity)].name }}</span>
                                            <span class="icon on" [ngStyle]="{'color':entity.color ? entity.color : '' }">
                                                <span *ngIf="entity.icon" class="mdi mdi-{{ entity.icon }}"></span>
                                            </span>
                                        </div>

                                    </ng-template>

                                    <ng-template [ngIf]="entity.type == 'cover'">

                                        <!-- Cover -->
                                        <div class="button button-on">
                                            <span class="name name-on">Entity name</span>
                                            <span class="state state-on">Entity state</span>
                                            <span class="value value-on">50%</span>
                                            <span class="icon" [ngStyle]="{'color':entity.color ? entity.color : 'black' }">
                                                <span class="spin" icon="mdi:window-open"></span>
                                            </span>
                                        </div>

                                    </ng-template>

                                    <ng-template [ngIf]="entity.type == 'climate'">
                                        <!-- Climate -->
                                        <div class="button button-on">
                                            <span class="name name-on">Entity name</span>
                                            <span class="circle"></span>
                                            <span class="temp">19°</span>
                                            <span class="state state-on">Entity state</span>
                                            <span class="value value-on">15°</span>
                                        </div>
                                    </ng-template>

                                </ng-template>

                                <ng-template [ngIf]="(!this.entities[entity.entity] || this.entities[entity.entity].state == 'unavailable') && entity.type != 'blinds'">
                                    <!-- Unavailable -->
                                    <div class="button">
                                        <span class="name">{{ entity.name }}</span>
                                        <span class="state unavailable">Unavailable</span>
                                        <span class="value"></span>
                                        <span class="icon">
                                            <span *ngIf="entity.icon" class="mdi mdi-{{ entity.icon }}"></span>
                                        </span>
                                    </div>
                                </ng-template>

                            </ng-template>

                        </div>
                    </ion-col>
                </ion-row>
            </ng-template>
        </ng-template>
    </ion-grid>
</ion-content>
