ion-content.background{
  --background: url(../../assets/home_remote_bg.png) center/cover no-repeat;
}

.card-title {
  margin-bottom: -10px;
  margin-left: 4px;
  font-size: 18px;
  color: #FFF;
}

ion-grid {
  margin-top:30px;
  padding: 5px 0 5px 0;
}

.tabHeader {
  margin-bottom: 150px;
  h1 {
    margin-bottom: 30px;
    margin-left: 4px;
    font-size: 32px;
    color: #FFF;
  }
  ul {
    margin:0 0 0 4px;
    padding:0;
    list-style:none;
    li {
      display:block;
      color:#FFF;
      font-size:22px;
    }
  }
}

ion-col {
  padding-right:0;
}

.homekit-card {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.container {
  float: left;
  clear: left;
  margin-top: 10px;
  padding: 4px;
  white-space: nowrap;
  width: 100%;
}