ion-content.background{
  --background: url(../../assets/background-large.jpg) center/cover no-repeat;
}

.card-title {
  margin-bottom: -10px;
  margin-left: 4px;
  font-size: 18px;
  color: #FFF;
  font-weight:300;
}

ion-grid {
  margin-top:30px;
  padding: 5px 0 5px 15px;
}

.tabHeader {
  height: 250px;
  h1 {
    margin-bottom: 30px;
    margin-left: 4px;
    font-size: 32px;
    color: #FFF;
    font-weight:300;
  }
  ul {
    margin:0 0 0 4px;
    padding:0;
    list-style:none;
    li {
      display:block;
      color:#FFF;
      font-size:20px;
      font-weight:300;
    }
  }

  .settingsIcon {
    color: #FFF;
    float: right;
    margin-right: 30px;
    font-size: 20px;
    margin-top: -30px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 5px 10px;
  }
}

ion-col {
  padding-right:0;
}

.homekit-card {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.container {
  float: left;
  clear: left;
  margin-top: 10px;
  padding: 4px;
  white-space: nowrap;
  width: 100%;
}
