<ion-content class="background" [class.weather-background]="weather && !loading && entities" [attr.night]="weather && weatherService.isNight(entities) ? true: null" [attr.cloudy]="weather && weatherService.isCloudy(entities, weather) ? true: null">
    <ion-grid>
        <ng-template [ngIf]="home">
            <div class="tabHeader">
                <h1>{{ title }} <a class="settingsIcon" [routerLink]="['/tabs/settings/tab']"><span class="mdi mdi-settings"></span></a></h1>
                
                <ng-template [ngIf]="weather && !loading && entities">
                    <div class="weather" bg="true" fade="true" [attr.night]="weatherService.isNight(entities) ? true: null">
                        <img class="icon" [src]="weatherService.weatherIcon(entities, weather)" />
                        <div class="weather__info">
                        <span class="weather__info__title">
                            {{ entities[weather].attributes.temperature}}
                            {{ weatherService.getUnit() }}
                            {{ entities[weather].friendly_name }}
                        </span>
                        <span class="weather__info__state">
                            {{ entities[weather].state | translate: 'state':'weather' }}
                        </span>
                        </div>
                        <div class="weather__info weather__info--add">
                        <span  [innerHTML]="weatherService.renderExtrema(entities[weather].attributes.forecast[0].temperature, entities[weather].attributes.forecast[0].templowh)"></span>
                        <span *ngIf="entities[weather].attributes.forecast[0].precipitation">
                            <div class="weather__icon weather_icon--small" [ngStyle]="{'background-image': 'url(' + weatherService.weatherIcon(entities, weather, weatherService.INFO.precipitation.icon) + ')'}"></div>
                            <span>{{ entities[weather].attributes.forecast[0].precipitation }} {{ weatherService.getUnit(weatherService.INFO['precipitation'].unit) }}</span>
                        </span>
                        </div>
                    </div>
                </ng-template>
                
                <ul>
                    <ng-template ngFor let-stat [ngForOf]="homeStats  | keyvalue">
                        <ng-template [ngIf]="typeOf(stat.value) !== 'object'">
                            <ng-template [ngIf]="typeOf(stat.value) !== 'object'">
                                <li *ngIf="stat.value">{{stat.value}}</li>
                            </ng-template>
                        </ng-template>
                        <ng-template [ngIf]="typeOf(stat.value) === 'object' && stat.value != null">
                                <ng-template [ngIf]="stat.value.notes.length > 0 || stat.value.calendar.length > 0">
                                    <li class="group">
                                        <span class="type">{{ stat.key | translate: 'hasskit' }}</span>
                                        <ul class="subItems">
                                            <ng-template ngFor let-items [ngForOf]="stat.value  | keyvalue">
                                                <li *ngFor="let item of items.value">
                                                    <ng-template [ngIf]="typeOf(item) !== 'object'">
                                                       {{ item }}
                                                    </ng-template>
                                                    <ng-template [ngIf]="typeOf(item) === 'object'">
                                                        {{ item.startTime }} - {{ item.endTime }}: {{ item.name }}<ng-template [ngIf]="item.locationShort">, {{ item.locationShort}}</ng-template>
                                                    </ng-template>
                                                </li>                         
                                            </ng-template>
                                        </ul>   
                                    </li>
                                </ng-template>
                       
                        </ng-template>
                    </ng-template>
                </ul>

                <!-- <ul *ngIf="calendar">
                    <li *ngFor="let calendarItem of calendarItems">
                        <strong>{{ calendarItem.today }}</strong><br />
                        {{ calendarItem.date }} <br />
                        {{ calendarItem.name }} : {{ calendarItem.startTime }} - {{ calendarItem.endTime }}<br />
                        {{ calendarItem.locationShort}}
                    </li>
                </ul> -->
            </div>
        </ng-template>

        <ng-template ngFor let-row [ngForOf]="setup">
            <ion-row>
                <ion-col>
                    <div class="card-title">{{ row.name }}</div>
                </ion-col>
            </ion-row>

            <ng-template ngFor let-entityrow [ngForOf]="row.entities">
                <ion-row class="forecast_container" *ngIf="!loading && entities">
                    <ion-col>
                        <div class="homekit-card">

                            <ng-template ngFor let-entity [ngForOf]="entityrow">

                                <tile *ngIf="entity.type != 'blinds' && entity.type != 'camera'" [connection]="connection" [entityData]="entities[entity.entity]" [entity]="entity"></tile>

                                <blinds-tile *ngIf="entity.type == 'blinds'" [connection]="connection" [entities]="entities" [entity]="entity"></blinds-tile>

                                <camera-tile *ngIf="entity.type == 'camera'" [connection]="connection" [entityData]="entities[entity.entity]" [entity]="entity"></camera-tile>

                            </ng-template>

                        </div>
                    </ion-col>
                </ion-row>
            </ng-template>
        </ng-template>
    </ion-grid>
</ion-content>