<ng-template [ngIf]="entityData && entityData.state != 'unavailable'">
  <ng-template [ngIf]="entity.type == 'light'">

    <!-- Light -->
    <ng-template [ngIf]="entity.brightness">
      <div class="button" [class.on]="entityData.state == 'on'" (click)="toggle(entity.entity)" (press)="hold(entity)">
        <div class="button-inner">
      <span class="icon" [class.on]="entityData.state == 'on'" [ngStyle]="{'color':entity.color && entityData.state == 'on' ? entity.color : '' }">
        <span *ngIf="entity.icon" class="mdi mdi-{{ entity.icon }}"></span>
      </span>
          <span class="name" [class.on]="entityData.state == 'on'">{{ entity.name }}</span>
          <span class="state" [class.on]="entityData.state == 'on'">{{ entityData.state | translate: 'state':entity.type }} <span class="value" [class.on]="entityData.state == 'on'"><span *ngIf="entityData.attributes.brightness">{{ math.round(entityData.attributes.brightness / 2.55) }}%</span></span></span>
        </div>
      </div>
    </ng-template>
    <ng-template [ngIf]="!entity.brightness">
      <div class="button" [class.on]="entityData.state == 'on'" (click)="toggle(entity.entity)">
        <div class="button-inner">
      <span class="icon" [class.on]="entityData.state == 'on'" [ngStyle]="{'color':entity.color && entityData.state == 'on' ? entity.color : '' }">
        <span *ngIf="entity.icon" class="mdi mdi-{{ entity.icon }}"></span>
      </span>
          <span class="name" [class.on]="entityData.state == 'on'">{{ entity.name }}</span>
          <span class="state" [class.on]="entityData.state == 'on'">{{ entityData.state | translate: 'state':entity.type }} <span class="value" [class.on]="entityData.state == 'on'"></span></span>
        </div>
      </div>
    </ng-template>


  </ng-template>

  <ng-template [ngIf]="entity.type == 'sensor' || entity.type == 'binary_sensor'">

    <!-- Sensor -->
    <div class="button on">
      <div class="button-inner">
        <span class="icon on" [ngStyle]="{'color':entity.color ? entity.color : 'black' }">
          <span *ngIf="entity.icon" class="mdi mdi-{{ entity.icon }}"></span>
        </span>
        <span class="name on">{{ entity.name }}</span>
        <span class="state on">
          {{ entityData.state | translate: 'state':entity.type:entityData.attributes.device_class }}<span *ngIf="entityData.attributes.unit_of_measurement">{{ entityData.attributes.unit_of_measurement }}</span>
        
          <ng-template [ngIf]="entityData.last_changed">
            <span class="previous">{{ calculateTime(entityData.last_changed) }}</span>
          </ng-template>
        </span>
      </div>
    </div>
  </ng-template>

  <ng-template [ngIf]="entity.type == 'switch' || entity.type == 'input_boolean'">

    <!-- Switch -->
    <div class="button" [class.on]="entityData.state == 'on'" (click)="hold(entity)">
      <div class="button-inner">
        <span class="icon" [class.on]="entityData.state == 'on'" [ngStyle]="{'color':entity.color && entityData.state == 'on' ? entity.color : '' }">
          <span *ngIf="entity.icon" class="mdi mdi-{{ entity.icon }}"></span>
        </span>
        <span class="name" [class.on]="entityData.state == 'on'">{{ entity.name }}</span>
        <span class="state" [class.on]="entityData.state == 'on'">{{ entityData.state | translate: 'state':entity.type }}</span>
      </div>
    </div>

  </ng-template>

  <ng-template [ngIf]="entity.type == 'weather'">

    <!-- Weather -->
    <div class="button on size-2">
      <div class="button-inner">
        <span class="icon on">
          <img [src]="weatherService.weatherIcon(null, entity.entity, entityData.state.toLowerCase())" />
        </span>
        <span class="name on">{{ entity.name }}</span>
        <span class="state on">{{ entityData.state | translate: 'state':entity.type }} <span *ngIf="entityData.attributes.forecast[0] && entityData.attributes.forecast[0].precipitation" class="value on">{{ entityData.attributes.forecast[0].precipitation }} {{ weatherService.getUnit(weatherService.INFO['precipitation'].unit) }}</span></span>
      </div>
    </div>

  </ng-template>

  <ng-template [ngIf]="entity.type == 'media_player'">

    <!-- Mediaplayer -->
    <div class="button" [class.on]="entityData.state == 'playing'" (click)="hold(entity)" *ngIf="(entity.group && entityData.attributes.sonos_group[0] == entity.entity) || !entity.group">
      <div class="button-inner">
        <span class="icon" [class.on]="entityData.state == 'playing'" [ngStyle]="{'color':entity.color && entityData.state == 'playing' ? entity.color : '' }">
          <span *ngIf="entity.icon" class="mdi mdi-{{ entity.icon[entityData.state] }}"></span>
        </span>
        <span class="speakergroup" *ngIf="entityData.attributes.sonos_group.length > 1">
          <span class="mdi mdi-speaker-multiple"></span>
        </span>
        <span class="name" [class.on]="entityData.state == 'playing'">
          {{ entity.name }}
          <ng-template [ngIf]="entity.group">
            <ng-template ngFor let-speaker [ngForOf]="entityData.attributes.sonos_group">
              {{ entity.group[speaker] }}
            </ng-template>
          </ng-template>
        </span>
        <span class="state" [class.on]="entityData.state == 'playing'">{{ entityData.state | translate: 'state':entity.type }}</span>
      </div>
    </div>

  </ng-template>

  <ng-template [ngIf]="entity.type == 'cover'">

    <!-- Cover -->
    <div class="button on">
      <div class="button-inner">
        <span class="icon" [ngStyle]="{'color':entity.color ? entity.color : 'black' }">
          <span class="spin" icon="mdi:window-open"></span>
        </span>
        <span class="name on">Entity name</span>
        <span class="state on">Entity state <span class="value on">50%</span></span>
      </div>
    </div>

  </ng-template>

  <ng-template [ngIf]="entity.type == 'climate'">
    <!-- Climate -->
    <div class="button button-on">
      <div class="button-inner">
        <span class="name on">Entity name</span>
        <span class="circle"></span>
        <span class="temp">19°</span>
        <span class="state on">Entity state <span class="value on">15°</span></span>
      </div>
    </div>
  </ng-template>


  <ng-template [ngIf]="entity.type == 'countdown'">

    <!-- Countdown -->
    <div class="button on size-2">
      <div class="button-inner">
        <span class="icon on" [ngStyle]="{'color':entity.color ? entity.color : 'black' }">
          <span *ngIf="entity.icon" class="mdi mdi-{{ entity.icon }}"></span>
        </span>
        <span class="name on">{{ entity.name }}</span>
        <span class="state on">
          {{ entityData.state }}<span *ngIf="entityData.attributes.unit_of_measurement"> {{ entityData.attributes.unit_of_measurement | translate: 'hasskit':entity.type }}</span>
        
          <ng-template [ngIf]="entityData.attributes.years > 0">
            <span class="value on">{{ entityData.attributes.years }} {{ 'year' | translate: 'hasskit':entity.type }}</span>
          </ng-template>
        </span>
      </div>
    </div>
  </ng-template>

</ng-template>

<ng-template [ngIf]="!entityData || entityData.state == 'unavailable'">
  <!-- Unavailable -->
  <div class="button">

    <div class="button-inner">
      <span class="icon">
        <span *ngIf="entity.icon" class="mdi mdi-{{ entity.icon }}"></span>
      </span>
      <span class="name">{{ entity.name }}</span>
      <span class="state unavailable">Unavailable <span class="value"></span></span>
    </div>
  </div>
</ng-template>
