.modal-header {
  background: rgba(0, 0, 0, 0.8);
  ion-toolbar {
    --background: transparent!important;
    ion-button {
      --color: #4d4c51;
      font-size: 50px;
      margin-top: 15px;
    }
  }
}
.modal-page {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  flex-direction: column;

  .icon {
    color: #FFF;
    font-size: 50px;
    &.on {
      color: #f7d959;
    }
  }

  h4 {
    color: #FFF;
    display: block;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;

    &:after {
      content: "% Brightness";
      padding-left: 1px;
    }
  }

  .range-holder {
    height: 402px;
    overflow: hidden;
    padding-top: 102px;
    display: block;
    input[type="range"] {
      outline: 0;
      border: 0;
      border-radius: 25px;
      width: 400px;
      max-width: 100%;
      margin: 24px 0;
      transition: box-shadow 0.2s ease-in-out;
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg);
      // Chrome
      @media screen and (-webkit-min-device-pixel-ratio: 0) {
        & {
          overflow: hidden;
          height: 150px;
          -webkit-appearance: none;
          background-color: #ddd;
        }
        &::-webkit-slider-runnable-track {
          height: 150px;
          -webkit-appearance: none;
          color: #ddd;
          margin-top: -1px;
          transition: box-shadow 0.2s ease-in-out;
        }
        &::-webkit-slider-thumb {
          width: 5px;
          -webkit-appearance: none;
          height: 80px;
          cursor: ew-resize;
          background: #fff;
          box-shadow: -340px 0 0 350px #FFF, inset 0 0 0 80px #ddd;
          border-radius: 0;
          transition: box-shadow 0.2s ease-in-out;
          position: relative;
          top: 35px;
        }
        // &:active::-webkit-slider-thumb {
        // 	background: #fff;
        // 	box-shadow: -340px 0 0 320px #1597ff, inset 0 0 0 3px #1597ff;
        // }
      }
    }
  }

  .scene-holder {
    display:block;
    margin-top:20px;
    .scene-row {
      display:block;
      text-align:center;
      padding-bottom:10px;
      &:last-child {
        padding:0;
      }
      .scene {
        display:inline-block;
        margin-right:10px;
        cursor:pointer;
        &:nth-child(4n) {
          margin-right:0;
        }
        .color {
          width:50px;
          height:50px;
          border-radius:50%;
          display:block;
        }
        .name {
          width:50px;
          overflow:hidden;
          display:block;
          font-size:7px;
          margin-top:3px;
        }
      }
    }
  }
}