.modal-header {
  background: rgba(0, 0, 0, 0.8);
  ion-toolbar {
    --background: transparent!important;
    ion-button {
      --color: #4d4c51;
      font-size: 50px;
      margin-top: 15px;
    }
  }
}
.modal-page {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  flex-direction: column;

  .icon {
    color: #FFF;
    font-size: 50px;
    &.on {
      color: #f7d959;
    }
  }

  h4 {
    color: #FFF;
    display: block;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
  }

  #project-container {
    color: white;
    min-width: 300px;
    width: 300px;
    position: relative;
    z-index: 2;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0px 3px 15px 	-1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 3px 15px -1px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 15px -1px rgba(0,0,0,0.5);

    #content {
      text-align: center;
      position: relative;
      z-index: 3;

      h2 {
        font-size: 1.3em;
        margin: 35px 0 0 0;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      h3 {
        margin: 7px 0 15px 0;
        font-size: 0.9em;
        opacity: .4;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      input {
        width: 100%;
        height: 2px;
        margin: 0 0 15px 0;
        background: -moz-linear-gradient(left, #3498db 0%, #9b59b6 72%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #3498db 0%,#9b59b6 72%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #3498db 0%,#9b59b6 72%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        -webkit-appearance: none;
        -moz-appearance:    none;
        appearance:         none;

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          height: 8px;
          width: 8px;
          border-radius: 10px;
          background: #ffffff;
          cursor: pointer;
        }
      }

      #controls {
        height: 50px;
        display: flex;
        display: -webkit-flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;

        .column {
          float: left;

          &:nth-child(even) {
            font-size: 1.3em;
          }

          &:nth-child(n+2):nth-child(-n+4) {
            color: white !important;
          }

          &:nth-child(3) {
            font-size: 2em;
          }

          &.active {
            color: #f7d959;
          }

          i {
            margin: 0 15px;
            cursor: pointer;
          }
        }
      }
    }
  }
  #group {
    color: white;
    min-width: 300px;
    width: 300px;
    position: relative;
    z-index: 2;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0px 3px 15px 	-1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 3px 15px -1px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 15px -1px rgba(0,0,0,0.5);
    padding:15px 0;
    margin-top:30px;
    ul {
      list-style:none;
      margin:0;
      padding:0;
      position: relative;
      z-index: 3;
      li {
        color:#FFF;
        display:block;
        font-size: 18px;
        padding: 5px 15px;
        line-height:25px;
        span {
          cursor:pointer;
          float:right;
          display:block;
          font-size:25px;
        }
      }
    }
  }
}
