<ion-header class="modal-header">
    <ion-toolbar (click)="dismissModal($event)">
        <ion-buttons slot="end">
            <ion-button (tap)="dismissModal()"><span class="mdi mdi-close"></span></ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<div class="modal-page" (click)="dismissModal($event)">
    <div id="project-container">
        <div id="content">
            <h2>{{ entityData.attributes.media_artist }}</h2>
            <h3>{{ entityData.attributes.media_title }}</h3>
            <div class="range-wrapper">
                <input type="range" [value]="volume" min="0" max="100" #ref (change)="updateVolume(ref.value)" />
            </div>
            <div id="controls">
                <!-- <div class="column"><i class="mdi" aria-hidden="true"></i></div> -->
                <div class="column"><i class="mdi mdi-skip-previous" aria-hidden="true"></i></div>
                <div class="column" (click)="playPauseAction()"><i class="mdi" [ngClass]="(entityData.state == 'playing')?'mdi-stop':'mdi-play'" aria-hidden="true"></i></div>
                <div class="column"><i class="mdi mdi-skip-next" aria-hidden="true"></i></div>
                <!-- <div class="column" [class.active]="entityData.attributes.shuffle"><i class="mdi mdi-shuffle" aria-hidden="true"></i></div> -->
            </div>
        </div>
    </div>
    <div id="group" *ngIf="entity.group">
        <ul>
            <li *ngFor="let speakerObject of entity.group | keyvalue">{{ speakerObject.value }} <span class="mdi mdi-plus-box" *ngIf="!inGroup[speakerObject.key]" (click)="joinPlayer(speakerObject.key)"></span><span class="mdi mdi-minus-box" *ngIf="inGroup[speakerObject.key]" (click)="unjoinPlayer(speakerObject.key)"></span></li>
        </ul>
    </div>
</div>
